DEBUG=FALSE
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=hasker_prod
SQL_USER=hasker
SQL_PASSWORD=hasker
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=your_host
EMAIL_USE_TLS=FALSE
EMAIL_PORT=465
EMAIL_USE_SSL=TRUE
EMAIL_HOST_USER=your_host_user
EMAIL_HOST_PASSWORD=your_pwd
DEFAULT_FROM_EMAIL=your_from_field